@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flip-flip {
    transform: rotateY(180deg);
  }
}
.perspective {
  perspective: 1000px; /* Adjust the value as needed */
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-inner {
  transform-style: preserve-3d;
}
/* /// */

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
